body{

background:#0a0a0a;

color:#ddd;

font-family:Consolas, monospace;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}

#loginPage{

width:450px;

text-align:center;

}

input{

width:100%;

padding:12px;

margin-top:10px;

background:#111;

border:1px solid #444;

color:white;

font-family:inherit;

}

button{

margin-top:15px;

padding:10px 30px;

background:#202020;

border:1px solid white;

color:white;

cursor:pointer;

}

button:hover{

background:#333;

}

.warning{

color:red;

letter-spacing:3px;

}

#message{

margin-top:15px;

color:#ff5555;

}

#terminalPage{

width:900px;

height:600px;

border:1px solid #444;

padding:20px;

background:black;

}

#terminalOutput{

height:550px;

overflow:auto;

white-space:pre-wrap;

}

.inputLine{

display:flex;

margin-top:10px;

}

.inputLine input{

background:black;

border:none;

outline:none;

color:white;

}

.green{

color:#00ff88;

}